header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #4a4e69;
    padding: 10px;
    text-align: center;
}

header > * {
    background-color: inherit;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
}

header > :nth-child(2) {
    margin-right: auto;
}

header a {
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

header a:hover {
    color: white;
}

header .menu-toggle {
    display: none;
}

header .link-container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 50px;
}

header .avatar-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 50px 0 0;
}

.user-points {
    font-weight: bold;
    color: white;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 30px 35px 10px 35px;
    gap: 30px;
}

main h1 {
    text-align: center;
}

main h2 {
    font-size: 48px;
    text-align: center;
}

main h3 {
    font-size: 40px;
    text-align: center;
}

footer {
    background-color: #4a4e69;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .menu-toggle {
        display: block;
        padding: 0 0 6px 0;
    }

    header .link-container {
        display: none;
        flex-direction: column;
        padding: 10px 20px;
        margin: 0;
    }

    header .link-container.open {
        display: flex;
    }

    header .avatar-container {
        flex-direction: column-reverse;
        margin-top: 8px;
        padding: 0;
        gap: 0;
    }

    header .dropdown-menu {
        top: 75px !important;
        right: -60px !important;
    }
}

@media (max-width: 400px) {
    main {
        padding: 20px 10px;
        gap: 20px;
    }

    main h2 {
        font-size: 36px;
    }
}
