.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
    gap: 20px;
}


.user-card:hover {
    transform: translateY(-2px);
}

.user-card.regular {
    border-left: 8px solid #0eb7ca;
}

.user-card.regular h4 {
    color: #0eb7ca;
    margin-bottom: 4px;
}

.user-card.regular .name {
    color: #0b6d78;
}

.user-card.cashier {
    border-left: 8px solid #c70909;
}

.user-card.cashier h4 {
    color: #c70909;
    margin-bottom: 4px;
}

.user-card.cashier .name {
    color: #6f0606;
}

.user-card.manager {
    border-left: 8px solid #d71be4;
}

.user-card.manager h4 {
    color: #d71be4;
    margin-bottom: 4px;
}

.user-card.manager .name {
    color: #6c0773;
}

.user-card.superuser {
    border-left: 8px solid #9bb110;
}

.user-card.superuser h4 {
    color: #9bb110;
    margin-bottom: 4px;
}

.user-card.superuser .name {
    color: #647208;
}

.user-info p {
    margin: 6px 0;
}

.user-avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    min-width: 120px;
}

.user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
