*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  background: #ede8f4;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.error {
  color: red;
  font-style: italic;
}

.success {
  color: green;
  font-style: italic;
}
